polkit.addRule(function(action, subject) {
    if (subject.isInGroup("sudo") &&
        (action.id === "org.freedesktop.resolve1.set-dns-servers" ||
         action.id === "org.freedesktop.resolve1.set-domains" ||
         action.id === "org.freedesktop.resolve1.set-default-route")) {
        return polkit.Result.YES;
    }
});
